<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='chartist.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='histogram.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <title>Intensity/Maginitde Histogram</title>
</head>
<style>

</style>

<body style=" background-image: linear-gradient(#e9f0fa,#f1f8ff)">
    <div class="top_bar">
        <logo class="logo">
            <a href="index.html"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo"
                    style="width:200px"></a>
        </logo>
        <div class='slogan'>
            NATURAL DISASTER DATABASE
        </div>
    </div>

    <div class="sticky_bar">
        <ul class="horizontal-navbar">
            <li><a href="index.html">&nbspHOME</a></li>
            <li><a href="linechart.html">COUNTRY DISASTER COMPARISON</a></li>
            <li class="current_page"><a href="histogram.html">DISASTER INTENSITY</a></li>
            <li><a href="about_page.html">ABOUT</a></li>
        </ul>

        <form action="search_page.html" class="search-bar" method="get">
            <input type="number" id="search-box" placeholder="Input a Year within 1950-2020 with YYYY format"
                name="search" pattern=".*\S.*" required autocomplete="off">
            <button class="search-btn" id="search-button">
            </button>
        </form>

    </div>
    <div class="dropdown country">
        <label for="country">Country</label><span style="color:red">*</span>
        <br>
        <select id="country_name-select" name="country" class="form-control">
        </select>
    </div>
    <div class="histogram-container">
        <p class="intensity_title">Disaster Intensity Histograms</p>
        <div class="histogram-chart-container">
            <p class="chart-title" id="country-intensity-title"></p>
            <div class="ct-chart ct-perfect-fourth" id="country-intensity-chart"></div>
            <div id="state-new-cases-tooltip" class="tooltip"> </div>
        </div>
        <div class="histogram-chart-container">
            <p class="chart-title" id="country-intensity-title2"></p>
            <div class="ct-chart ct-perfect-fourth" id="country-intensity-chart2"></div>
            <div id="state-new-cases-tooltip" class="tooltip"> </div>
        </div>
        <div class="histogram-chart-container">
            <p class="chart-title" id="country-intensity-title3"></p>
            <div class="ct-chart ct-perfect-fourth" id="country-intensity-chart3"></div>
            <div id="state-new-cases-tooltip" class="tooltip"> </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='chartist.min.js') }}"></script>

</body>



</html>